<h1>Nieuwe promotie</h1>
<form (ngSubmit)="onSubmit(f)" #f="ngForm" ngNativeValidate>
    <div class="form-group">
        <label for="naam">Naam</label>
        <input type="text"
               id="naam"
               [ngModel]="promotie?.naam"
               class="form-control"
               name="naam"
               required>
    </div>
    <div class="form-group">
        <label for="beschrijving">Beschrijving</label>
        <input type="text"
               id="beschrijving"
               [ngModel]="promotie?.beschrijving"
               class="form-control"
               name="beschrijving"
               required>
    </div>
    <div class="form-group">
        <label for="kortingsprocent">Kortings %</label>
        <input type="number"
               id="kortingsprocent"
               [ngModel]="promotie?.kortingsprocent"
               class="form-control"
               name="kortingsprocent"
               required>
    </div>
    <div class="form-group">
        <label for="begindatum">Begindatum</label>
        <input type="date"
               id="begindatum"
               [ngModel]="promotie?.begindatum"
               class="form-control"
               name="begindatum"
               required>
    </div>
    <div class="form-group">
        <label for="einddatum">Einddatum</label>
        <input type="date"
               id="einddatum"
               [ngModel]="promotie?.einddatum"
               class="form-control"
               name="einddatum"
               required>
    </div>
    <div class="form-group">
        <label for="afdeling"> Afdeling: </label><br>
        <select id="afdeling" name="afdeling" [ngModel]="promotie?.afdeling" class="form-control">
            <option *ngFor="let afdeling of afdelingen" [value]="afdeling.naam">
                {{afdeling.naam}}
            </option>
        </select>
    </div>
    <button type="submit" class="btn btn-outline-success">Submit</button>

</form>
