<h1>Leverancierslijst</h1>

<table class="table">
    <tr>
        <th>Naam</th>
        <th>Locatie</th>
        <th>Telefoon</th>
        <th>Rekeningnummer</th>
        <th>Status</th>
        <th>Bewerken</th>
        <th>Verwijderen</th>
    </tr>
    <tr *ngFor="let leverancier of leveranciers">
        <td>{{leverancier.naam}}</td>
        <td>{{leverancier.locatie}}</td>
        <td>{{leverancier.telefoon}}</td>
        <td>{{leverancier.rekeningnr}}</td>
        <td>{{leverancier.status}}</td>
        <td><a (click)="showEditModal(leverancier)"><i class="material-icons">edit</i></a></td>
        <td><a (click)="onDelete(leverancier)"><i class="material-icons">delete</i></a></td>

    </tr>

    <div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myEditModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Leverancier aanpassen</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="hideEditModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form (ngSubmit)="onEdit(ngForm)" #ngForm="ngForm" ngNativeValidate>
                        <div class="form-group">
                            <input type="text"
                                   id="id"
                                   [ngModel]="leverancier?.id"
                                   class="form-control"
                                   name="id"
                                   hidden
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="naam">Naam</label>
                            <input type="text"
                                   id="naam"
                                   [ngModel]="leverancier?.naam"
                                   class="form-control"
                                   name="naam"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="locatie">Locatie</label>
                            <input type="text"
                                   id="locatie"
                                   [ngModel]="leverancier?.locatie"
                                   class="form-control"
                                   name="locatie"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="telefoon">Telefoon</label>
                            <input type="text"
                                   id="telefoon"
                                   [ngModel]="leverancier?.telefoon"
                                   class="form-control"
                                   name="telefoon"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="rekeningnr">Rekeningnummer</label>
                            <input type="text"
                                   id="rekeningnr"
                                   [ngModel]="leverancier?.rekeningnr"
                                   class="form-control"
                                   name="rekeningnr"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="status"> Status: </label><br>
                            <select id="status" name="status" [ngModel]="leverancier?.status" class="form-control" required>
                                <option value="Actief">Actief</option>
                                <option value="Non-actief">Non-actief</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-outline-success">Submit</button>

                    </form>

                </div>
            </div>
        </div>
    </div>
</table>